.owl-prev, .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block !important;
    border:1px solid #a7a7a7 !important;
    border-radius: 25px !important;
}

.owl-prev i, .owl-next i {
    font-size: 3rem !important;
}

.card-title a:hover, .card-title span:hover {
    color: #2196f3 !important;
}

.owl-prev {
    top: 40% !important;
    margin-left: -20px !important;
}

.owl-next {
    top: 40% !important;
    right: -25px !important;
}

.btn-clear {
    background: transparent !important;
}

.arrow-blue {
    color: #2196f3;
}

.arrow-white {
    color: #fff !important;
}

.arrow-grey {
    color: #a7a7a7 !important;
}

.hide {
    display: none !important;
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    height: 490px;
    padding: 0 0.3em;
}
 
@media(max-width:600px) {
    .card-image img.activator{
        height: 450px;
    }

    .owl-carousel .owl-item img {
        height: 450px;
    }

    .owl-prev, .owl-next{
        display: none !important;
    }
}

.card-action{
    height: 50px !important;
    padding: 10px !important;
}

.modal{
   padding: 0px !important;
}

.modal-content .section-title{
    padding-top: 15px !important;
}